body {
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container { 
    padding: 10px;
    min-width: 400px;
    background-color: white;
    border: 3px solid gray;
    border-radius: 50px;
    text-align: center;
}

.input-box {
    margin: 10px 0px;
}

.signup {
    display: inline-block;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.80rem;
    margin: 15px;
}

