.container {
    padding: 10px;
    min-width: 400px;
    background-color: white;
    border: 3px solid gray;
    border-radius: 50px;
    text-align: center;
}

.verificationCodeBox {
    margin: 10px;
}

.submitButton {
    margin: 10px;
}