.container {
    padding: 10px;
    min-width: 400px;
    background-color: white;
    border: 3px solid gray;
    border-radius: 50px;
    text-align: center;
}

.verificationCodeBox {
    margin: 0px 0px 0px 0px;
}

.submitButton {
    margin: 0px 0px 0px 0px;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;

}